
.squareAvatar, .circleAvatar, .roundedAvatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 1, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.roundedAvatar {
border-radius: 6px;
}
.circleAvatar {
    border-radius: 50%;
  }

.initials {
    display: inline-block;  
    position: relative;
    font-size: 50px; /* 50% of parent */
    line-height: 30px; /* 50% of parent */
    color: #fff;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    
  }