.checkboxComponentLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkboxComponentLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 6px;
  }
  
  .checkmark, .checkboxComponentLabel input:checked ~ .checkmark {
    background-color: #9b9999;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxComponentLabel input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkboxComponentLabel input:disabled ~ .checkmark{
    cursor: not-allowed;
    pointer-events: all !important;
  }
  .checkboxComponentLabel .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
